#fortune-cookie-text {
  margin: 10px;
  border: solid;
  width: 200px;
  height: 100px;
  background-color: pink;
}

#previous-fortunes {
  margin: 10px;
  border: solid;
  width: 200px;
  height: 100px;
  background-color: skyblue;
}